<div class="container">

  <div class="alert alert-info" role="alert">
    <h2 class="text-center my-4 center">WEATHER</h2> 
  </div>

  <hr><br>

  <form #weatherForm="ngForm" (ngSubmit)="onSubmit(weatherForm)" novalidate>

    <div class="form-group">
      <label>Enter a City</label>
      <input class="form-control align" type="text" id="weatherLocation" name="location" required
      #location="ngModel" aria-describedby="weatherLocation" placeholder="Please input a Location"
      [(ngModel)]="weatherModel.location">

      <small class="text-danger" [class.d-none]="location.valid || location.untouched">Please enter a location!</small>
    </div>

    <div class="text-center">
      <button type="submit" [disabled]="weatherForm.form.invalid" class="btn btn-success space">Search</button>
      <button type="reset" (click)="onReset()" class="btn btn-primary space">Clear</button>
    </div>

  </form>

</div>

<p></p>

<label class="center text-center my-4" *ngIf="locSearched"><u><h3 style="color: blueviolet;">Search Result</h3></u></label>
  <br /> <br /> 
  <div class="alert alert-danger" role="alert" *ngIf="error!==null; else elsePart"><p>{{ error | titlecase }}</p></div>

  <ng-template #elsePart>

    <div class="container" *ngIf="resultArray!== null">

      <div class="col-sm-4">
        <u class="text-color">COORDINATES</u> <hr>
        <p><strong>Longitude:</strong> {{ resultArray.coord.lon }}</p>
        <p><strong>Latitude:</strong> {{ resultArray.coord.lat }}</p>
        <p><strong>Country: </strong>{{ resultArray.sys.country }}</p>
      </div>

      <div class="col-sm-4">
      <u class="text-color">MAIN</u> <hr>
        <p><strong>Temperature: </strong>{{ resultArray.main.temp + ' degree Celcius' }}</p>
        <p><strong>Humidity: </strong>{{ resultArray.main.humidity + '%' }}</p>
      </div>

      <div class="col-sm-4">
        <u class="text-color">WEATHER</u> <hr>
        <p><strong>Status: </strong>{{ resultArray.weather[0].main | titlecase }}</p>
        <p><strong>Description: </strong>{{ resultArray.weather[0].description | titlecase }}</p>
      </div>

    </div>
  
  </ng-template>